.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}


.navbar-item{
    margin: 5px;
}

.nav-link{
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  /* visited link */
  a:visited {
    color: black;
  }
  /* mouse over link */
  a:hover {
    color: black;
  }
  /* selected link */
  a:active {
    color: black;
  }

.center-div{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.center-div2{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.rounded{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: 584;
    max-width: 584px;
    margin-top: 15px;
    
}

.google-btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.advanced{
  color: #d93025;
  font-size: 20px;
  margin: 25px;
}

.bar{
  border-bottom: 1px solid #ebebeb;
}

.p-advanced{
  font-size: 16px;
  color: #333333;
}

.div-advanced{
  margin: 25px;
}

.input{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.left{
  width: 180px;

}

.right{
  width: 385px;
}

.p{
  font-size: 13px;
  vertical-align: middle;
}

.advanced-btn{
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  
}

.adv-btn{
  display: flex;
  justify-content: flex-end;
  width: 590px;
  margin-top: 25px;
}